*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scrollbar-color: #333 #666 !important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Averia Serif Libre";
  font-weight: 400;
  src: url("~/assets/fonts/averiaseriflibre-regular-webfont.woff2")
      format("woff2"),
    url("~/assets/fonts/averiaseriflibre-regular-webfont.woff") format("woff");
    font-display: swap
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("~/assets/fonts/inter-regular-webfont.woff2")
      format("woff2"),
    url("~/assets/fonts/inter-regular-webfont.woff") format("woff");
    font-display: swap
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("~/assets/fonts/inter-medium-webfont.woff2")
      format("woff2"),
    url("~/assets/fonts/inter-medium-webfont.woff") format("woff");
    font-display: swap
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("~/assets/fonts/inter-semibold-webfont.woff2")
      format("woff2"),
    url("~/assets/fonts/inter-semibold-webfont.woff") format("woff");
    font-display: swap
}

button {
  cursor: pointer;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  border-radius: 16px;
  padding: 18px 32px;
  transition: background-color 500ms ease-in-out;
  font-weight: 600;
}

button:focus {
  outline: none !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #f0ede4;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  background-color: #ec5c1f;
  color: #f0ede4;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
      #ec5c1f;
  }
}

.btn-secondary {
  background-color: #d1d1c7;
  color: #303e30;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background: #c3c3b9;
  }
}

h1,
h2,
h3 {
  font-family: "Averia Serif Libre", cursive;
}

p,
span,
a {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 44px;
  line-height: 48px;

  @screen sm {
    font-size: 52px;
    line-height: 63px;
  }

  @screen xl {
    font-size: 68px;
    line-height: 74px;
  }
}

h2 {
  font-size: 30px;
  line-height: 36px;

  @screen sm {
    font-size: 38px;
    line-height: 38px;
  }

  @screen xl {
    font-size: 40px;
    line-height: 48px;
  }
}

h3 {
  font-size: 24px;
  line-height: 29px;

  @screen sm {
    font-size: 30px;
    line-height: 36px;
  }

  @screen xl {
    font-size: 32px;
    line-height: 38px;
  }
}

p,
a {
  font-size: 16px;
  line-height: 24px;

  @screen sm {
    font-size: 16px;
    line-height: 24px;
  }

  @screen xl {
    font-size: 18px;
    line-height: 27px;
  }
}

.vel-modal
{
  background: rgba(0,0,0,.9)!important;
}